.admin-panel {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.upload-box {
  margin-bottom: 1rem;
}

.upload-box input {
  margin-right: 1rem;
}

.pdf-table {
  width: 100%;
  border-collapse: collapse;
}

.pdf-table th,
.pdf-table td {
  border: 1px solid #cfcdcd;
  padding: 0.5rem;
  text-align: left;
}

.pdf-table th {
  background: #424141;
}

.top-bar {
  position: fixed; /* Esto saca el elemento del flujo normal */
  top: 10px;
  right: 10px;
  z-index: 999;
}

.nav-button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background: #424141;
}
